html,
body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

header,
footer {
    flex: none;
}

.mivpage {
    flex-grow: 1;
    display: flex;
    overflow: hidden;
}

header nav a.is-selected {
    color: blue;
    font-weight: bold;
}

header nav a:not(.is-selected) {
    color: rgb(64, 64, 128);
}